# System
.DS_Store
.checkpoints/

# Python
__pycache__/
*.pyc
.venv/
venv/
env/
.env

# dbt
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/
dbt_project/.user.yml

# Data & Output
data/*.duckdb*
data/*.db
data/export/
output/

# IDE
.vscode/
.idea/

# Power BI
.pbi/
